In [1]:
import numpy as np
import pandas as pd
import os
import math
import numpy as np
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning)

In [5]:
from cn.protect import Protect

ModuleNotFoundError: No module named 'cn'

In [2]:
# input files from other python scripts
data_dir = os.path.join('..','nb1','Input')
data_trade = os.path.join('..','nb1','Trade')

In [3]:
other_impacts = pd.read_excel(os.path.join(data_dir,'otherimpacts.xlsx'))
other_impacts.reset_index(inplace=True,drop=True)

In [4]:
other_impacts

,Unnamed: 0,key,name,country,unit,GHG
0,0,"('cutoff35', '668014867e4919dae2c88bc5bba6e659')","market group for electricity, medium voltage",GLO,kilowatt hour,0.736664
1,1,"('cutoff35', '100aaec2edf691a5d218579c85f07b2d')","market for heat, from steam, in chemical industry",RoW,megajoule,0.122257
2,2,"('cutoff35', '0a2d1790a0adf3dd09b64e2e3a36caf5')","market for heat, from steam, in chemical industry",RER,megajoule,0.102864
3,3,"('cutoff35', 'd2e7144f3cbfaf96f442b6fc7ac93628')","market for electricity, medium voltage",RS,kilowatt hour,0.867512
4,4,"('cutoff35', 'a4ff619bc2e4a23563b9a81c1d9cd437')","market for electricity, medium voltage",TR,kilowatt hour,0.655934
...,...,...,...,...,...,...
246,246,"('cutoff35', '028989a699c2f81a8db4c0833ebc068b')","market for transport, freight, lorry with refr...",GLO,ton kilometer,0.606738
247,247,average,"market for electricity, medium voltage",CA,kilowatt hour,0.413109
248,248,average,"market for electricity, medium voltage",US,kilowatt hour,0.680355
249,249,average,"market for electricity, medium voltage",IN,kilowatt hour,1.314365
250,250,average,"market for electricity, medium voltage",CN,kilowatt hour,0.869499